<div>
    <h3>Popular Currencies Details</h3>
    <div class="popular-currencies">
        <app-currency-card></app-currency-card>
        <app-currency-card></app-currency-card>
        <app-currency-card></app-currency-card>
        <app-currency-card></app-currency-card>
        <app-currency-card></app-currency-card>
        <app-currency-card></app-currency-card>
        <app-currency-card></app-currency-card>
        <app-currency-card></app-currency-card>
        <app-currency-card></app-currency-card>
      </div>
</div>
