<div class="container">
  <div class="input-container">
    <input type="number" placeholder="Amount" [(ngModel)]="amount" />
    <p>Exchange Rate: {{ exchangeRate }}</p>
  </div>
  <div class="selects-container">
    <div class="selects-wrapper">
      <select [(ngModel)]="fromCurrency" (ngModelChange)="onChange()">
        <option *ngFor="let currency of currencies" [value]="currency">{{ currency }}</option>
      </select>
      <span (click)="swapCurrencies()">Exchange icon</span> <!-- Add click event for swapping -->
      <select [(ngModel)]="toCurrency" (ngModelChange)="onChange()">
        <option *ngFor="let currency of currencies" [value]="currency">{{ currency }}</option>
      </select>
    </div>
    <button (click)="onConvert()">Convert</button>
    <div class="results-container">
      <span>{{ result }}</span>
      <button>More Details</button>
    </div>
  </div>
</div>
