<div class="container">
  <div class="input-container">
    <input type="number" placeholder="Amount" [(ngModel)]="amount" />
    <p>Exchange Rate: {{ exchangeRate }}</p>
  </div>
  <div class="selects-container">
    <div class="selects-wrapper">
      <select [(ngModel)]="fromCurrency" (ngModelChange)="onChange()" [disabled]="currentRoute.includes('/historical')">
        <option *ngFor="let currency of popularCurrencies" [value]="currency">{{ currency }}</option>
      </select>
      <span (click)="swapCurrencies()">Exchange icon</span>
      <select [(ngModel)]="toCurrency" (ngModelChange)="onChange()">
        <option *ngFor="let currency of popularCurrencies" [value]="currency">{{ currency }}</option>
      </select>
    </div>
    <button (click)="onConvert()">Convert</button>
    <div class="results-container">
      <span>{{ result }}</span>
      <button *ngIf="!currentRoute.includes('historical')" (click)="showHistoricalDetails()">More Details</button>
      <button *ngIf="currentRoute.includes('historical')" (click)="goBack()">Go Back</button>
    </div>
  </div>
</div>
