<div class="container">
    <div class="input-container">
      <input type="number" placeholder="Amount" />
      <p>Exchange Rate</p>
    </div>
    <div class="selects-container">
      <div class="selects-wrapper">
        <select>
          <option>From</option>
        </select>
        <span>Exchange icon</span>
        <select>
          <option>To</option>
        </select>
      </div>
      <button>Convert</button>
      <div class="results-container">
          <span>Results</span>
          <button>More Details</button>
      </div>
    </div>
  </div>
  